// font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// colours
$white: hsl(0, 0%, 100%);
$gray: hsl(212, 45%, 89%);
$gray-blue: hsl(220, 15%, 55%);
$blue: hsl(218, 44%, 22%);

* {
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    min-height: 100vh;
}

.tile {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 497px;
    border-radius: 20px;
}

.qr-code {
    width: 288px;
    height: 288px;
    margin: 16px 16px 24px;
    border-radius: 10px;
}

.text-container {
    margin: 0px 16px 40px;
    text-align: center;

    h1 {
        font-size: 1.375rem; 
        font-weight: 700;
        margin: 0px;
        color: $blue;
        line-height: 28px;
    }

    h2 {
        font-size: 0.94rem;
        font-weight: 400;
        margin: 16px 16px 0px;
        color: $gray-blue;
        line-height: 19px;
    }
}

